DirectoryIndex {{ getenv "APACHE_DIRECTORY_INDEX" "index.php" }}

<Directory "{{ getenv "APACHE_DOCUMENT_ROOT" "/var/www/html" }}">
    Options FollowSymLinks {{ if (getenv "APACHE_INDEXES_ENABLED") }}Indexes{{ end }}
    AllowOverride All
    Require all granted
</Directory>

<Proxy "fcgi://{{ getenv "APACHE_BACKEND_HOST" "php" }}:{{ getenv "APACHE_BACKEND_PORT" "9000" }}/">
    ProxySet connectiontimeout={{ getenv "APACHE_FCGI_PROXY_CONN_TIMEOUT" "5" }} timeout={{ getenv "APACHE_FCGI_PROXY_TIMEOUT" "60" }}
</Proxy>
<FilesMatch "\.php$">
    <If "-f %{REQUEST_FILENAME}">
        SetHandler "proxy:fcgi://{{ getenv "APACHE_BACKEND_HOST" "php" }}:{{ getenv "APACHE_BACKEND_PORT" "9000" }}"
    </If>
</FilesMatch>

<IfModule rewrite_module>
RewriteEngine On
RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK|OPTIONS|HEAD)
RewriteRule .* - [F]
</IfModule>

Redirect "/sites/default/files/repository_files/circolari/circolare_accreditamento_conservatori_n_65_10-04-2014.pdf" "/it/piattaforme/conservazione"
Redirect "/sites/default/files/repository_files/documentazione/documentazione_per_accreditamento_conservatori_0.pdf" "/it/piattaforme/conservazione"
Redirect "/sites/default/files/repository_files/documentazione/requisiti_di_qualita_e_sicurezza_v.1.1.pdf" "/it/piattaforme/conservazione"
Redirect "/sites/default/files/repository_files/documentazione/profili_professionali_per_la_conservazione.pdf" "/it/piattaforme/conservazione"
Redirect "/sites/default/files/repository_files/documentazione/istruzioni_di_compilazione-invio_rapporto_quadrimestrale_v.2.1_accessibile.pdf" "/it/piattaforme/conservazione"
Redirect "/sites/default/files/repository_files/linee_guida_sul_documento_informatico_.pdf" "/sites/default/files/repository_files/linee_guida_sul_documento_informatico.pdf"
Redirect "/sites/default/files/repository_files/linee_guida/la_conservazione_dei_documenti_informatici.pdf" "/it/piattaforme/conservazione"
Redirect "/sites/default/files/repository_files/documenti_indirizzo/istruzioni_per_la_produzione_e_conservazione_registro_giornaliero_di_protocollo_1.1_marzo_2016.pdf" "/it/piattaforme/conservazione"
Redirect "/sites/default/files/repository_files/documenti_indirizzo/produzione_e_conservazione_del_registro_giornaliero_di_protocollo_0.pdf" "/it/piattaforme/conservazione"
Redirect "/it/piattaforme/pagopa/schema-convenzione-tesoreria" "/it/piattaforme/pagopa"

Redirect 404 /web.config
