
// Brand colors
$light-blue: #0059b3;
$medium-blue: #004080;
$standard-blue: #003183;
$dark-blue: #00264d;
$dark-blue-main: #00264c;

// Table colors
$table-background: #fcfcfc;
$table-background-row-odd: rgba(208, 226, 245, 0.1);
$table-link: #fff;
$table-link-hover: #aaa;

// Borders colors
$border-default-color: #d0e2f5;

// Header
$header-link-color: #fff;
$header-link-hover-color: #004d99;
$header-link-active-color: rgba(224, 220, 220, 0.6);
$header-link-font-size: 1em;
$header-link-font-weight: 600;
$header-social-color: #fff;

// Claim
$claim-background-color: rgba(127, 178, 229, 0.1);

// Main page content (mpc)
$mpc-link-color: #0066cc;
$mpc-link-hover-color: #004d99;
$mpc-link-visited-color: #430099;

// Footer
$footer-link-color: #fff;
$footer-social-icon-color: #fff;

// Accordion
$accordion-background-color: #fcfcfc;

// Typography
$h-foreground-color: $light-blue;
$h-line-height: 1.5;
$h1-font-size: 3rem;
$h2-font-size: 2.8rem;
$h3-font-size: 2.6rem;
$h4-font-size: 2.4rem;
$h5-font-size: 2.2rem;
$h6-font-size: 2rem;

$p-font-size: 1.8rem;
$p-line-height: 1.5;

// Breakpoints
$breakpoint-small: 600px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;


// Call to action
$cta-background: rgba(0, 0, 0, 0.0001);
$cta-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1)