*.DS_Store
certs
docker-conf
patches
docroot/.gitignore
docroot/Makefile
docroot/README.md
docroot/behat.yml
docroot/composer.patches.json
docroot/deploy
docroot/features
docroot/patches
docroot/scripts
docroot/web/.csslintrc
docroot/web/.editorconfig
docroot/web/.eslintignore
docroot/web/.eslintrc.json
docroot/web/.gitattributes
docroot/web/.ht.router.php
docroot/web/*.txt
!docroot/web/robots.txt
docroot/web/update.php
docroot/web/web.config
docroot/web/sites/default/files
