.DS_Store
.idea
.vscode
/vendor
/bin
.aliases
*.txt
*.bz2
*.gz
*.zip
tmp*
/deploy/*/config/settings*
deploy.yml
deploy.retry
rollback.yml
hosts
temp/

# Drupal 8 specific.
drush/contrib
/web/.*
/web/themes/contrib
/web/update.php
/web/autoload.php
/web/web.config
/web/robots.txt
/web/sites/*/settings*.php
/web/sites/*/files
/web/sites/*/private
/web/sites/default/services.yml
/web/core
/web/modules/contrib
/web/profiles/contrib
/web/libraries

/web/index.php
/web/sites/default/default.settings.php
/web/sites/example.settings.local.php
/web/sites/example.sites.php
/web/sites/sites.php

# Ignore Drupal's file directory
/web/sites/default/files
