version: "2"

services:
  apache:
    container_name: "${PROJECT_NAME}_apache"
    image: wodby/apache:$APACHE_TAG
    depends_on:
      - php
    environment:
      APACHE_USER: 'wodby'
      APACHE_LOG_LEVEL: debug
      APACHE_BACKEND_HOST: php
      APACHE_VHOST_PRESET: php
      APACHE_DOCUMENT_ROOT: /var/www/html/web
    labels:
      - 'traefik.enable=true'
      - 'traefik.backend=apache'
      - 'traefik.port=80'
      - 'traefik.frontend.rule=Host:web.${PROJECT_BASE_URL}'
    volumes:
      - $PROJECT_DOCROOT:/var/www/html

  db:
    container_name: "${PROJECT_NAME}_mariadb"
    image: wodby/mariadb:$MARIADB_TAG
    stop_grace_period: 30s
    env_file:
      - docker-conf/mariadb.env
    environment:
      MYSQL_ROOT_PASSWORD: $DB_ROOT_PASSWORD
      MYSQL_DATABASE: $DB_NAME
      MYSQL_USER: $DB_USER
      MYSQL_PASSWORD: $DB_PASSWORD
    volumes:
      - ./database:/var/lib/mysql

  mailhog:
    container_name: "${PROJECT_NAME}_mailhog"
    image: mailhog/mailhog
    labels:
      - 'traefik.backend=mailhog'
      - 'traefik.port=8025'
      - 'traefik.frontend.rule=Host:mailhog.${PROJECT_BASE_URL}'

  php:
    container_name: "${PROJECT_NAME}_php"
    image: wodby/drupal-php:$PHP_TAG
    env_file:
      - docker-conf/phpfpm.env
    environment:
      PHP_SENDMAIL_PATH: /usr/sbin/sendmail -t -i -S mailhog:1025
      PHP_FPM_CLEAR_ENV: "no"
      ENV_TYPE: 'LOC'
    volumes:
      - $PROJECT_DOCROOT:/var/www/html

  redis:
    container_name: "${PROJECT_NAME}_redis"
    image: wodby/redis:$REDIS_TAG
    env_file:
      - docker-conf/redis.env

  solr:
    container_name: "${PROJECT_NAME}_solr"
    image: wodby/solr:$SOLR_TAG
    environment:
      SOLR_HEAP: 1024m
      SOLR_DEFAULT_CONFIG_SET: search_api_solr_8.x-2.0
    labels:
      - 'traefik.enable=true'
      - 'traefik.backend=solr'
      - 'traefik.port=8983'
      - 'traefik.frontend.rule=Host:solr.${PROJECT_BASE_URL}'

  traefik:
    image: traefik:1.6.3-alpine
    restart: always
    command: '-c /dev/null --web --docker --docker.exposedByDefault=false --logLevel=DEBUG --defaultEntryPoints=''http'',''https'' --entryPoints="Name:https Address::443 TLS:/certs/traefik.cert,/certs/traefik.key" --entryPoints="Name:http Address::80"'
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
      - './certs:/certs'

