article.pagopa-content {
  .field--label-inline .field__label {
    font-weight: 600;
  }
}

article.event-page {
  .field--name-field-event-location,
  .field--name-field-event-start-date,
  .field--name-field-event-end-date {
    margin-top: 0;

    > div {
      display: inline;
      font-size: 1.8rem;
      line-height: 1.1;
    }

    > .field__item {
      color: $dark-blue-main;
      font-weight: normal;
    }

  }

  .field--name-field-event-start-date {
    float: left;
    display: inline;
    margin-right: 2rem;
  }

  .field--name-field-event-description {
    margin-top: 2rem;
  }
}
