.Megamenu-subnavGroup:not(.Megamenu-pageLink) > li {
  width: 10em !important;
}

ul.Megamenu-pageLink {
  border-top: 1px solid #e0e0e0;
  display: block !important;
  margin-top: 20px;

  li {
    width: 100%;
    text-align: right;
  }
}

.Megamenu--default {
  margin-left: -1rem;

  background-color: $light-blue;

  .Megamenu-list {
    div.is-open > span {
      display: none;
    }

    > li {
      > a.is-open {
        color: $dark-blue !important;
        background-color: #fff !important;
        opacity: 1;
        z-index: 1000000;
      }

      &.is-active > a {

        color: $dark-blue !important;
        background-color: #fff !important;
        opacity: 1;
        z-index: 1000000;

        &::after {
          content: "\23f6";
        }
      }

      &.menu-opened > a {
        &::after {
          content: "\23f7";
        }
      }

      &.is-not-highlighted > a {
        background-color: transparent !important;
        color: white !important;
      }
    }
  }
}

.Megamenu-item > a,
.Megamenu-item:first-child > a {
  padding-left: 1rem !important;
}

.Megamenu-wrapper {
  background-color: $light-blue;
}

.main-overlay {
  display: none;
  background-color: #e0dcdc;
  opacity: .6;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
}
.Offcanvas-content {
  ul, ol {
    margin-left: 0 !important;
  }
}