article ul li.share-everywhere {
  list-style-type: none;
  float: left;
  width: 100%;
  display: block;
  margin-bottom: 1em;
}

.agid-share-widget {
  display: block;
  float: left;
  width: 100%;
  min-height: 53px;
}

.agid-share {
  display: block;
  &.se-align-right {
    float: right;
    display: inline-block;
  }
  &.se-align-left {
    float: left;
    display: inline-block;
  }
  &__trigger {
    $t: &;
    display: table;
    max-width: 15em;
    float: left;
    // background-color: #eee;
    padding: 0.65em 0.5em 0.5em 0.5em;
    box-shadow: 0 0 5px lightgrey;

    &__icon {
      display: table-cell;
      float: left;
      img {
        padding: 0.25em;
      }
      &--hover {
        display: none;
      }
    }

    &:hover {
      cursor: pointer;
      #{$t}__icon {
        display: none;
      }
      #{$t}__icon--hover {
        display: table-cell;
        &.Icon-close {
          img {
            display: none;
          }
        }
      }
    }

    &.active {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      #{$t}__icon:not(#{$t}__icon--hover) {
        display: none;
      }
      #{$t}__icon--hover {
        display: table-cell;
        img {
          display: none;
        }
      }
    }

    &__text {
      display: table-cell;
      vertical-align: middle;
      margin-left: 1.95em;
      margin-right: 0.5em;
      font-size: 1.5rem;
      padding: 0.11605em;
      color: #1986F2;
      text-transform: uppercase;
    }
  }
  &__links-container {
    display: inline-block;
    float: right;

    span.ext {
      display: none;
    }

    &.se-inactive {
      display: none;
    }
    &.se-active {
      display: inline-block;
    }
    /**
     * List and links
     */
    $mL: 0.05em; // margin left
    $pTB: 0.435em; // padding top & bottom
    $pLR: $pTB * 2; // padding left & right

    &__link {
      &:first-child {
        margin-left: $mL;
      }
      list-style: none;
      float: left;
      display: inline-block;
      background: #0066cc;
      padding-top: $pTB;
      padding-bottom: $pTB;
      padding-left: $pLR;
      padding-right: $pLR;
      margin-right: $mL;
      a {
        display: block;
        text-align: center;
        text-decoration: none;
        &:hover {
          text-decoration: none !important;
        }
        span::before {
          color: white;
        }
      }
    }
  }
}
