<form action="{{ view_uri }}" method="get">
  <label for="search-keywords">{{ 'Search'|t }}</label>
  <input id="search-keywords" maxlength="128" name="search_api_views_fulltext" size="20" type="text" value="" />
  <input class="form-submit" name="" type="submit" value="{{ 'Search'|t }}" />
</form>
