article.accsubj {
  border-top: 1px solid $border-default-color;

  .field--name-field-acc-subj-service-name {
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.1;
  }

  .field--name-field-acc-subj-service-logo,
  .field--name-field-acc-subj-logo {
    float: left;
    margin-top: 3rem;
    min-height: 8rem;
    padding: 2rem;
  }

  .field--label-inline .field__label {
    font-weight: 600;
  }

  .field--label-inline .field__label:after {
    content: ":";
  }

  .field--name-field-acc-subj-info {
    clear: both;
    margin-top: 2rem;
  }

  .field__items {
    padding-left: 1rem;
  }

  .field--name-field-acc-subj-external-link .field__items .field__item,
  .field--name-field-acc-subj-info .field__items .field__item {
    display: block;
  }

  .paragraph {
    > div {
      border-left: 1px solid $border-default-color;
      padding-left: 1rem;
    }
    > .field__item {
      font-weight: 600;
      padding-bottom: 1rem;
    }
  }

  .field--name-field-acc-subj-external-link {
    margin-top: 2rem;
  }

  .field--name-field-acc-subj-logo {
    min-height: 16rem;
    margin-top: 4rem;
  }

  .accsubj-fc {
    margin-top: 2rem;
    border-top: 1px solid $border-default-color;
  }

  .accsubj-fc h3 {
    margin-bottom: 1rem;
  }

  .field--name-field-repository-files .field__item {
    grid-column: unset;
  }
}

article.pagopa-content {
  .field--label-inline .field__label {
    font-weight: 600;
  }
}

article.event-page {
  .field--name-field-event-location,
  .field--name-field-event-start-date,
  .field--name-field-event-end-date {
    margin-top: 0;

    > div {
      display: inline;
      font-size: 1.8rem;
      line-height: 1.1;
    }

    > .field__item {
      color: $dark-blue-main;
      font-weight: normal;
    }

  }

  .field--name-field-event-start-date {
    float: left;
    display: inline;
    margin-right: 2rem;
  }

  .field--name-field-event-description {
    margin-top: 2rem;
  }
}
