h1,
h1.u-text-h2,
h2,
h2.u-text-h2,
h3,
h4,
h4.u-text-h4,
h5,
h6 {
  font-weight: 600 !important;
  color: $h-foreground-color;
  line-height: $h-line-height;
}

h1 {
  font-size: $h1-font-size;
  margin-top: 4rem;
  margin-bottom: 0;

  .u-text-h2 {
    max-width: 14em;
  }
}

h2 {
  font-size: $h2-font-size !important;

  .Accordion-header {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

h3, h3.u-text-h3 { font-size: $h3-font-size !important; }
h4, h4.u-text-h4 { font-size: $h4-font-size !important; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; }

h3 {
  margin-bottom: $h3-font-size * $h-line-height * .5;
}

p {
  font-family: "Titillium Web";
  font-size: $p-font-size;
  line-height: $p-line-height;
}

a {
  color: $light-blue;
}

li {
  list-style-type: disc;
  color: $light-blue;

  li {
    list-style-type: circle;
  }
}
