{#
/**
 * @file
 * Theme override for 'submit' search form element.
 */
#}
{% set classes = [
'Grid-cell',
'u-sizeFit',
'Icon-search',
'Icon--rotated ',
'u-color-grey-50',
'u-padding-all-s',
'u-textWeight-700',
] %}

<button{{ attributes.addClass(classes) }}><span class="u-hiddenVisually">{{ 'Avvia la ricerca'|t }}</span></button>
{{ children }}
