{% extends "block--reset.html.twig" %}
{#
/**
 * @file
 * Theme override to display a system_menu_block in the footer_bottom region.
 */
#}
{% block content %}
  <div{{ attributes }}>
    {{ content }}
  </div>
{% endblock %}
