{% extends "block--reset.html.twig" %}
{#
/**
 * @file
 * Theme override for tabs.
 *
 * @ingroup templates
 */
#}
{% block content %}
  <nav class="drupalTabs" aria-label="{{ 'Tabs'|t }}">
    {{ content }}
  </nav>
{% endblock %}
