{#
/**
 * @file
 * Wrapper the language title listing on the language switcher.
 *
 * Available variables:
 * - language_code: The language code, ex. 'en' for English.
 * - language_name: The readable language name
 */
#}
<span lang="{{ language_code }}">{{ language_name|t }}</span>