{#
/**
 * @file
 * Default theme implementation for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - display: (optional) May have a value of 'status' or 'error' when only
 *   displaying messages of that specific type.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 *
 * @ingroup templates
 *
 * @see template_preprocess_status_messages()
 */
#}
{%
  set status_headings = {
    'status': 'Status message'|t,
    'error': 'Error message'|t,
    'warning': 'Warning message'|t,
    'info': 'Informative message'|t,
  }
%}
{%
  set status_classes = {
    'status': 'success',
    'error': 'error',
    'warning': 'warning',
    'info': 'info',
  }
%}
{% for type, messages in message_list %}
{%
  set classes = [
    'alert',
    'Alert--' ~ status_classes[type],
    'Alert',
    'Alert--withIcon',
    'Prose',
    'u-layout-prose',
    'u-padding-r-bottom',
    'u-padding-r-right',
    'u-margin-r-bottom',
  ]
%}
<div{{ attributes.addClass(classes) }} role="alert">
  {% if status_headings[type] %}
    <h4 class="u-hiddenVisually">{{ status_headings[type] }}</h4>
  {% endif %}
  {% if messages|length > 1 %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>{{ messages|first }}</p>
  {% endif %}
</div>
{% endfor %}
