div.Prose,
.highlighted-text {
  font-size: $p-font-size !important;
  line-height: $p-line-height !important;
}

.Prose {
  > h3,
  > h4,
  > h5 {
    font-weight: 400 !important;
  }

  > h2 {
    font-size: 2em !important;
    font-weight: 400 !important;
  }

  ol {
    list-style-type: decimal
  }

  ul,
  ol {
    list-style-position: outside;
    margin-left: 1.1rem !important;

    ul, ol {
      margin-left: 2.3rem !important;
    }

    li {
      line-height: 1.55 !important;
    }
  }

  li {
    &::before {
      content: "\25CF";
      color: $light-blue;
      font-size: 2rem;
      margin-right: 1.2rem;
    }

    li {
      &::before {
        content: "\25CB";
      }
    }
  }

  .Abstract p {
    font-size: 1.1em !important;
    color: $light-blue !important;
  }
}

