.view-table-pagopa {
  table {
    table-layout: fixed;

    th:first-child {
      width: 31%;
    }

    th:nth-child(3) {
      width: 29%;
    }

    th:nth-child(4) {
      width: 26%;
    }
  }
}

nav {
  li {
    list-style: none;
  }
}
