{#
/**
 * @file
 * Theme override to display a menu in the sidebar right region.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
    {% else %}
      <ul>
    {% endif %}
    {% for item in items %}
      <li{{ item.attributes }}>
        {% if menu_level in [0, 1, 2] %}
          {% set link_classes = ['Linklist-link', ['Linklist-link--lev', menu_level + 1]|join ] %}
        {% endif %}
        {% if item.below %}
          {% set link_classes = link_classes|merge(['is-expanded']) %}
        {% endif %}
        {{ link(item.title, item.url, { 'class': link_classes }) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
