{%
set classes = [
'field',
'field--name-' ~ field_name|clean_class,
'field--type-' ~ field_type|clean_class,
'field--label-' ~ label_display,
'u-textSecondary',
'u-text-p',
'u-cf'
]
%}

{% for item in items %}
  <div{{ attributes.addClass(classes) }}>
    <p class="u-floatRight">{% trans %}Curated by{% endtrans %} {{ item.content }}</p>
  </div>
{% endfor %}